<!DOCTYPE html>
<html><head><meta charset="UTF-8">
<title>Puavo SSO Example</title>
</head>
<body>
<h2> JWT session data </h2>
<pre><%= @data %></pre>
<p>JWT issued at: <%= @iat_human %></p>
<a href="/logout">Logout</a>
</body>
</html>
